.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.todo-actions button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.todo-item-name {
    flex: 1;
    padding: 10px 0;

    &:hover {
        background-color: rgb(237, 237, 237);
        border-radius: 4px;
        cursor: text;
    }
}